body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
}
.top-header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-header .icon {
    margin-right: 10px;
}
nav{
    height: 36px;
}
#menu {
    background-color: rgba(34,34,34,.9) !important;
}
.nav-item a {
    font-family: "Lato",sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.3s;
    color: rgba(255,255,255,.6) !important;
}
.nav-item:hover a{
    color: #ffffff !important;
}
#active{
    color: #ffffff !important;
}
.wrapper{
    width: 100%;
    
}
.vientiane{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
}
.vientiane .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/D2NjN4u1W7/video_vientiane_rescue_clip-001-1920x1080.jpeg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60px;
}
.vientiane .bg-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.vientiane .text-title{
    font-family: "Lato",sans-serif !important;
    position: absolute;
    top: 50%;
    right: 250px;
    color: #ffffff;
    text-align: right;
}
.vientiane .text-title h1{
    font-weight: 700;
    font-size: 65px;
}
.vientiane .text-title em{
    font-size: 30px;
}
.contributor{
    position: relative;
    width: 100%;
    height: 500px;
}
.contributor-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/bXGkG96QQu/video_vientiane_rescue_clip-002-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contributor .contributor-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.contributor .contributor-text{
    font-family: "Lato",sans-serif !important;
    position: absolute;
    top: 0%;
    right: 250px;
    color: #ffffff;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.contributor .contributor-text strong sup sub {
    font-size: 13px;
}
.contributor .contributor-text strong em sub {
    font-size: 20px;
    font-weight: 400;
}
.contributor .contributor-text sup{
    margin-bottom: 40px;
}
.contributor .contributor-text sup sub {
    font-size: 13px;
    flex-wrap: nowrap;
    top: 20px;
}

/* chapter1    */
.chapter{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 500px;
    z-index: 1;
}
.chapter-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/s3EoRWqBZS/video_vientiane_rescue_clip-004_clean-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 25%; 
}
.chapter-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.chapter-text{
    font-family: "Lato",sans-serif !important;
    height: 100%;
    color: #ffffff;
    position: absolute;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chapter-text h4{
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
}
.chapter-text h3{
    font-size: 50px;
    font-weight: 600 !important;
    padding-top: 10px;
}
/* full-window */

.full-window{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
}
.full-window .full-window-img{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/lIWhKDJJn8/001-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
    
}
.full-window .full-window-shadow,.full-window .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.context-text {
    height: 100%;
    width: 100%;
    padding: 60px 20px 60px 0;
}
.div-text{
    color: #ffffff;
    margin-bottom: 30px;
    
}
.div-text p{
    font-size: 19px;
}
.div-text p a, .text-title a{
    color: #00a7cf;
    transition: 0.3s;
    border-bottom: 1px dotted #00a7cf;
    text-decoration: none;
    padding-bottom: 2px;
    margin-right: 10px;
}
.div-text p a:hover,.text-title a:hover{
    color: #03ceff;
    border-bottom: 1px solid #03ceff;
}
/* map */
.map{
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/Kw0KrLmX9g/vientiane-rescue-map-01-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 45%; 
    width: 100%;
    height: 500px;
}
.full-window{
    height: auto;
}
.full-window .img-bg{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/VJa1v6o1BY/007-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.chapter-img-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/lj18xQhgdF/video_vientiane_rescue_clip-009_clean-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%; 
}
.img-bg-chapter2{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/6fldXGSfZc/010-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img-content{
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/xTJzxZJNqe/insert_001-1920x1080.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.full-window .img-bg-chapter2-chil{
    z-index: -4;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/Ov7nMR6NM2/012-1920x1080.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.chapter-img-3{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/qfRvUP8xgl/video_vientiane_rescue_clip-011_clean-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0 20%; 
}
.img-bg-chapter3{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/fCCMsiKscN/021-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.chapter-img-4{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/UiE4AKlOFb/video_vientiane_rescue_clip-015_clean-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 0 20%; 
}
.img-bg-chapter4{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.shorthand.com/media/organisations/M0QNnc1ojf/2k6mXVs1z8/029-1920x1080.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* talk-about */
.talk-about{
    background-color: #222;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.text-title{
    font-family: "PT Serif",serif;
    margin-bottom: 30px;
    padding-left: 10px;
}
.text-title h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.text-title p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.text-title i{
    font-size: 13px;
}
.div-botton{
    margin-left: 10px;
    height: 45px;
    background-color: #777;
    border-radius: 6px;
    width: 125px;
    border: none;
    transition: 0.3s;
    margin-bottom: 30px;
}
.div-botton a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.div-botton:hover{
    opacity: .9;
}
.text-title img{
    width: 30%;
    height: auto;
    padding: 30px 0;
}
hr{
    background-color: #777777;
    margin: 30px 0 30px 10px;
    height: 1.5px;
}

.text-title:last-child a{
    font-size: 13px;
}
footer{
    background-color: #ffffff;
}
footer .container{
   
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .left-footer img{
    height: 40px;
    width: auto;
}
.icon-top{
    position: fixed;
    bottom: 15px;
    left: 50%;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.icon-top a{
    text-decoration: none;
    color: #777777;
}
.icon-top:before{
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: "";
    display: block;
    height: 16px;
    left: 50%;
    position: relative;
    top: 8px;
    margin-bottom: 0px;
    transform: rotate(-45deg);
    width: 16px;
    margin-left: -8px;
    border-color: #777777;
}
/* mobile */
.showMenu {
    display: block !important;
}

.line{
    height: 4px;
    background-color: #000000;
    width: 32px;
    border-radius: 3px;
}
.btn-menu{
    display: none;
}
.line-f{
    width: 40px;
    transform: rotate(45deg) translateY(8px) translateX(3px);
}
.line-l{
    width: 40px;
    transform: rotate(-45deg) translateY(-8px) translateX(3px);
}
.remove{
    display: none !important;
}
@keyframes animatie1{
    0% {transform: translateX(200%)}
    100% {transform: translateX(100%)}
}
@keyframes animatie2{
    100% {transform: translateX(100%)}
    0% {transform: translateX(0)}
}
@keyframes animatie3{
    0% {transform: translateX(100%)}
    100% {transform: translateX(0%)}
}
.animate-left{
    animation: animatie1 0.3s forwards;
}
.animate-left1{
    animation: animatie3 0.3s forwards;
}
.animate-right{
    animation: animatie2 0.3s forwards !important;
}
@keyframes animate3{
    0%{ transform: translateX(100%)}
    100%{ transform: translateX(0%)}
}
.animate-mobile{
    animation: animate3 0.3s forwards;
}
@media only screen and (max-width: 1024px){
    .header{
        width: 100%;
        height: 100%;
    }
    .btn-menu{
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
        box-sizing: border-box;
    }
    nav {
        height: 100%;
        display: none !important;
        margin: 0;
        padding: 0 !important;
        width: 50%;
    }
    .container{
        padding-right: 0;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column !important;
    }
    .nav-item{
        width: 100%;
        height: 53px;
        border-bottom: 1px solid rgba(180,180,180,.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-item a{
        font-size: 17px;
    }
}
@media only screen and (max-width: 768px) {
    .top-header{
        height: 40px;
    }
    .header{
        width: 100%;
        height: 100%;
    }
    nav {
        height: auto;
        display: none !important;
        /* transform: translateX(200%); */
        margin: 0;
        padding: 0 !important;
    }
    .container{
        padding-right: 0;
    }
    .nav-item{
        width: 100%;
        height: 53px;
        border-bottom: 1px solid rgba(180,180,180,.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-item a{
        font-size: 17px;
    }
    .vientiane{
        width: 100%;
    }
    .vientiane .bg-img{
        background-position: 50% 0;
        background-size: cover;
        width: 100%;
    }
    .vientiane .text-title{
        right: 30px;
        top: 40%;
    }
    .vientiane .text-title h1{
        font-size: 55px;
    }
    .vientiane .text-title em {
        font-size: 33px;
    }
    
    #menu{
        width: 50%;
        height: 100%;
    }
    .btn-menu{
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
        box-sizing: border-box;
    }
    .contributor .contributor-text{
        right: 30px;
    }
    .chapter-text{
        left: 10%;
        width: 90%;
    }
    .chapter-text h4{
        font-size: 22px;
    }
    .chapter-text h3{
        font-size: 43px;
    }
    .chapter-img,.full-window .img-bg,.chapter-img-2,.img-bg-chapter2, .img-content, .img-bg-chapter2-chil,.chapter-img-3,.img-bg-chapter3,.chapter-img-4,.img-bg-chapter4{
        background-size: cover;
        background-position: center;
    }
}
@media only screen and (max-width: 576px) {
    .top-header{
        height: 40px;
    }
    nav {
        transform: translateX(100%);
    }
    #menu{
        width: 100%;
        height: 100%;
    }
    .vientiane .text-title h1{
        font-size: 30px;
    }
    .vientiane .text-title em {
        font-size: 18px;
    }
    .contributor .contributor-text{
        right: 20px;
    }
    .contributor .contributor-text strong sup sub{
        font-size: 9px;
    }
    .contributor .contributor-text strong em sub{
        font-size: 13px;
    }
    .contributor .contributor-text sup sub{
        font-size: 8px;
        top: 20px;
    }
    .chapter-text h4{
        font-size: 15px;
    }
    .chapter-text h3{
        font-size: 25px;
    }
    .div-text p{
        font-size: 17px;
    }
}